<html>
  <head>
    <title>CodeDay Playlist Admin Panel</title>
    <script type="text/javascript" src="/static/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="/static/aurora.js"></script>
    <script type="text/javascript" src="/static/codecs/MP3.js"></script>
    <script type="text/javascript" src="/static/codecs/FLAC.js"></script>
    <script type="text/javascript" src="/static/codecs/AAC.js"></script>
    <script type="text/javascript" src="/static/codecs/OGG.js"></script>
    <script type="text/javascript" src="/static/codecs/Vorbis.js"></script>
    <script type="text/javascript" src="/static/trackUpdate.js"></script>
    <script type="text/javascript" src="/static/admin.js?4"></script>
    <link type="text/css" rel="stylesheet" href="/static/admin.css?4">
  </head>
  <body>
    <div id="info">
      <span id="track-title">{{title}}</span><br>
      <span id="track-artist">{{artist}}</span>
    </div>
    <div id="controls">
      <div>
        <span id="position" class="timelabel sliderlabel right">0:00</span>
        <input id="seek" class="labeled" type="range" min=0 max=1 value=0>
        <span id="duration" class="timelabel sliderlabel left">...</span>
      </div>
      <div>
        <button id="prev">&lt;&lt;</button>
        <button id="play">&gt;</button>
        <button id="pause" style="display: none;">||</button>
        <button id="stop">X</button>
        <button id="next">&gt;&gt;</button>
      </div>
    </div>
    <div id="playlist-container">
      <span id="playlist-title">Playlist</span>
      <ol id="playlist">
        <div class="sort-boundary"></div>
      </ol>
    </div>
  </body>
</html>