<html>
  <head>
    <title>CodeDay Playlist Admin Panel</title>
    <style type='text/css'>
    body
    { text-align:center;
    }
    #controls > button
    { 
    }
    </style>
    <script type="text/javascript" src="/static/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/trackUpdate.js?nocache"></script>
    <script type="text/javascript">
    controlSocket = io.connect('/control');
    controlSocket.on('error', function(message)
    { console.log("Error: " + message);
    });
    function sendCommand(command)
    { controlSocket.emit('command', command);
    }
    </script>
  </head>
  <body>
    <div id=info>
      <span id=track-title></span><br>
      <span id=track-artist></span>
    </div>
    <div id=controls>
      <button onclick="sendCommand('previous');">&lt;&lt;</button>
      <button onclick="sendCommand('pause');">&gt;</button>
      <button onclick="sendCommand('next');">&gt;&gt;</button>
      <button onclick="sendCommand('last');">&gt;|</button>
    </div>
  </body>
</html>