<html>
  <head>
    <script type="text/javascript" src="/static/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/aurora.js"></script>
    <script type="text/javascript" src="/static/codecs/MP3.js"></script>
    <script type="text/javascript" src="/static/codecs/FLAC.js"></script>
    <script type="text/javascript" src="/static/codecs/AAC.js"></script>
    <script type="text/javascript" src="/static/codecs/OGG.js"></script>
    <script type="text/javascript" src="/static/codecs/Vorbis.js"></script>
    <script type="text/javascript" src="/static/trackUpdate.js"></script>
    <script type="text/javascript" src="/static/player.js?1"></script>
    <link rel="stylesheet" type="text/css" href="/static/player.css?0">
  </head>
  <body>
    <div id="info">
      <span id="track-title">{{title}}</span><br>
      <span id="track-artist">{{artist}}</span>
    </div>
    <div id="controls">
      <div>
        <span id="position" class="timelabel sliderlabel right">0:00</span>
        <input id="seek" class="labeled" type="range" min=0 max=1 value=0>
        <span id="duration" class="timelabel sliderlabel left">...</span>
      </div>
      <div>
        <span id="play">&gt;</span>
        <span id="pause" style="display: none;">||</span>
        <span class=sliderlabel>volume</span>
        <input class="labeled" id="volume" type=range min=0 max=100 value=100 disabled>
      </div>
    </div>
  </body>
</html>