<html>
  <head>
    <title>CodeDay Playlist</title>
    <style>
    body
    { text-align:center;
    }
    </style>
    <script type="text/javascript" src="/static/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/trackUpdate.js?nocache"></script>
  </head>
  <body>
    <div id=info>
      <h1 id=track-heading>Current Track</h1>
      <br/>
      <h2 id=track-title></h2>
      <h3 id=track-artist></h3>
    </div>
  </body>
</html>
